@import 'tailwindcss';

@theme {
  --color-background: #f3f3f2;
  --color-primary: #c099a0;
  --color-secondary: #e4d2d8;
  --color-accent: #e5e4e6;
  --color-text: #474a4d;
}

@layer components {
  .timeline {
    @apply bg-accent absolute left-1/2 z-0 h-full w-1 rounded-full;
  }

  .timeline-container {
    @apply relative mx-auto max-w-2xl px-2;
  }

  .timeline-content {
    @apply flex flex-col-reverse;
  }

  .timeline-card {
    @apply bg-background z-10 mx-2 my-8 flex max-w-3xs cursor-pointer flex-col gap-2 rounded-lg p-4 duration-150;
  }

  .timeline-card:first-child {
    @apply mt-16;
  }

  .timeline-card:last-child {
    @apply mb-16;
  }

  .timeline-card.left {
    box-shadow:
      2px 2px 4px var(--color-background),
      inset -12px -12px 12px var(--color-background),
      inset 2px 2px 4px var(--color-accent);
    @apply mr-auto;
  }

  .timeline-card.left:hover {
    box-shadow:
      2px 2px 4px var(--color-accent),
      inset 12px 12px 12px var(--color-background);
  }

  .timeline-card.right {
    box-shadow:
      -2px 2px 4px var(--color-background),
      inset 12px -12px 12px var(--color-background),
      inset -2px 2px 4px var(--color-accent);
    @apply ml-auto;
  }

  .timeline-card.right:hover {
    box-shadow:
      -2px 2px 4px var(--color-accent),
      inset -12px 12px 12px var(--color-background);
  }

  .timeline-card-header {
    @apply flex flex-col;
  }

  .timeline-card-date {
    @apply text-primary text-sm font-medium;
  }

  .timeline-card-title {
    @apply text-primary text-lg font-medium;
  }

  .timeline-card-description {
    @apply text-text text-xs;
  }

  .timeline-pointer {
    @apply bg-secondary absolute left-1/2 hidden h-1 w-4 -translate-x-1.5 translate-y-4 rounded-full sm:block;
  }
}
