@import 'tailwindcss';
@import './timeline.css';
@import './moment.css';

@theme {
  --color-background: #f3f3f2;
  --color-primary: #c099a0;
  --color-secondary: #e4d2d8;
  --color-accent: #e5e4e6;
  --color-text: #474a4d;
}
