@import 'tailwindcss';

@layer components {
  .timeline {
    @apply bg-accent absolute left-1/5 z-0 h-full w-1 rounded-full sm:left-1/2;
  }

  .timeline-outer {
    @apply relative mx-auto w-full max-w-2xl overflow-scroll scroll-smooth;
    @apply flex-1;
  }

  .timeline-outer::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .timeline-outer {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .timeline-wrapper {
    @apply relative mx-auto max-w-2xl py-[25dvh];
  }

  .timeline-container {
    @apply relative mx-auto px-2;
  }

  .timeline-card-outer:first-child {
    @apply mt-16;
  }

  .timeline-content {
    @apply flex flex-col;
  }

  .timeline-card-outer:last-child {
    @apply mb-16;
  }

  .timeline-card {
    box-shadow:
      -2px 2px 4px var(--color-background),
      inset 12px -12px 12px var(--color-background),
      inset -2px 2px 4px var(--color-accent);
    @apply bg-background z-10 mx-2 my-8 ml-auto w-full max-w-3xs cursor-pointer rounded-lg p-4 text-left duration-500;
    @apply flex flex-col gap-2;
  }

  .timeline-card:hover {
    box-shadow:
      -2px 2px 4px var(--color-accent),
      inset -12px 12px 12px var(--color-background);
    @apply -translate-y-0.5 translate-x-0.5;
  }

  .timeline-card.left {
    @media (width >= 40rem /* 640px */) {
      box-shadow:
        2px 2px 4px var(--color-background),
        inset -12px -12px 12px var(--color-background),
        inset 2px 2px 4px var(--color-accent);
    }
    @apply sm:mr-auto sm:ml-0;
  }

  .timeline-card.left:hover {
    @media (width >= 40rem /* 640px */) {
      box-shadow:
        2px 2px 4px var(--color-accent),
        inset 12px 12px 12px var(--color-background);
    }
    @apply sm:-translate-x-0.5;
  }

  .timeline-card.right {
    @apply sm:text-right;
  }

  .timeline-card.right:hover {
    box-shadow:
      -2px 2px 4px var(--color-accent),
      inset -12px 12px 12px var(--color-background);
  }

  .timeline-card-header {
    @apply flex flex-col;
  }

  .timeline-card-date {
    @apply text-primary text-sm font-medium;
  }

  .timeline-card-title {
    @apply text-primary text-lg font-medium;
  }

  .timeline-card-description {
    @apply text-text text-xs;
  }

  .timeline-pointer {
    @apply bg-secondary absolute left-1/5 h-1 w-4 -translate-x-1.5 translate-y-20 rounded-full sm:left-1/2;
  }
}
